html, body
{
	padding: 0;
	margin: 0;
	background: #E5E5E5;
	font-family: Helvetica;
	height: 100%;
}

#container
{
	margin: 0, auto;
	padding: 0;
	float:left;
	width: 100%;
	height: 100%;
}

header
{
	background-color: black;
	height: 10%;
	color: #FFFFFF;
	font-size: 19pt;
}

header #logo
{
	margin-left: 20pt;
	padding-top:17.5px;
	position: absolute;`
	top: 7%;
	color: #159BC3;
}

header #logo .white
{
	color: white;
}

#shuttleMap
{	
	width: 80%;
	float: left;
	height: 90%;
	position: relative;
	display:block;
	position:relative; 
	top:0px; 
	left:0px; 
	right: 0px;
}

#mapCanvas
{
	background-color: #FFFFFF;
	height: 100%;
	position: relative;
}

#statusPanel
{
	display:block;
	position:absolute;
	top:60px;
	right: 20px; 
	color: #fff;
	z-index:99999;
    background-color: #000000;
    border: 2px solid #DDB039;
	width: 250px;
	padding: 8px;
	opacity: 0.85;
	filter: alpha(opacity=85);
	font-size: 10pt;
}

#statusPanel a {
	text-decoration: none;
	color: #DDB039;
	line-height: 15pt;

}

#statusPanel #green
{
	color: green;
}

#statusPanel #red
{
	color: red;
	display: none;
}

#statusPanel #scheduleContent table
{
	width: 100%;
	text-align: center;
}

#statusPanel #scheduleContent table th
{
	background: #181818;
}

.infoWindow
{
	width: 150px;
	text-align: center;
}

#sidebar
{
	width: 20%;
	float:right;
	overflow-y: hidden;
	overflow-x: hidden;
	height: 90%;
	background-color: white;
}

#sidebar ul
{
	list-style: none;
	padding: 0;
	margin: 0;
}

#sidebar ul a
{
	text-decoration: none;
	color: #000000;
}

#sidebar ul a li
{
	display: block;
	padding: 10pt;
	margin: 1px;
	width: 100%;
	background-color: #FAFAFA;
	float: left;
}

#sidebar ul a li .infoIcon
{
	width: 35px;
	height:35px;
	float: left;
	margin-right: 0;
	margin-top: 16px;
	padding-left: 0;
	padding-right: 0;
}

#sidebar ul a li .route
{
	width: 72%;
	float: left;
}

#sidebar ul a li .route .shuttleName
{
	color: #000000;
	font-size: 11pt;
	padding-left: 48px;
}

#sidebar ul a li .route .shuttleStops
{
	font-size: 9pt;
	color: #A0A0A0;
	padding-top: 6pt;
	padding-left: 10px;
	width:100px;
}

.routeInfo 
{
	font-size:8pt;
	padding-top:15px;
	height: 48em;
	padding-right: 10px;
	float: top;
	color:#159BC3;
	font-weight: 700;
}

.milage
{
	font-size:8pt;
	padding-top:10px;
	height: 36em;
	padding-right: 10px;
	margin-top: -480px;
	margin-left: 20%;
	padding-bottom: 100px;
	float: top;
	color:#159BC3;
	font-weight: 700;

}

.infoIcon1
{
	float:left;
	padding-left:15px;
	padding-top:15px;
	padding-right:8px;
}

.infoIcon2
{
	float:left;
	padding-left:15px;
	padding-top:10px;
	padding-right:8px;
}

.infoIcon3
{
	float:left;
	padding-left:15px;
	padding-top:14px;
	padding-right:8px;
}

#sidebarInfo1
{
	margin-top:10px;
}

#sidebarInfo2
{
	float:top;
	padding-top: 19px;
	margin-top:-440px;
	border-top: 1px solid;
	border-color:#159BC3;
}

#sidebarInfo3
{
	float:top;
	padding-top: 15px;
	padding-bottom: 5px;
	margin-top: -450px;
	border-top: 1px solid;
	border-color: #159BC3;

}

#sidebarInfo4
{
	float:top;
	padding-top: 0;
	margin-top: -455px;
}

.mapurl
{
	margin-left: 25px;
}

#sidebarInfo5
{
	padding-top: 50px;
	margin-top: 10px;
	border-top: 1px solid;
	border-color: #159BC3;
}

#sidebarInfo6
{
	float:top;
	padding-top: 0;
	margin-top: 50px;
}

#Yes
{
	width:100%;
	margin:auto;
}

#No
{
	margin:auto;
}

#yesButton
{
	width:80%;
	margin:auto;
}


.title
{
	width: auto;
	display: block;
	color:#FFFFFF;
	text-align: center;
	padding: 7pt;
	font-size: 12pt;
	background-color: #40494C;
	border-bottom: 1px solid white;
}

#sidebarInfoTop 
{
	background-color: #159BC3;
	color: white;
	text-align: center;
	padding-top:8px;
	padding-bottom:13px;
	height:12px;
	border-bottom: 1px white;
}

#sidebarInfo1
{
	font-size:8pt;
	padding-top:5px;
	height: 48em;
	padding-right: 10px;
}


#about
{
	width: auto;
	display: block;
	text-align: center;
	line-height: 15pt;
	font-size: 10pt;
	padding: 10pt;
}

.moneyButton
{
                padding:6px 6px;
                margin-top: 5px;
                /*left:-8px;*/
                border:2px solid #207cca;
                background-color:#207cca;
                color:#fafafa;
}

.moneyButton:hover  {
                background-color:#fafafa;
                color:#207cca;
}

form {
				float: right;
                width:40%;
                margin:10px auto;
                padding-top: 6px;
}
.search {
                padding:8px 15px;
                background:rgba(50, 50, 50, 0.2);
                border:1px solid white;
                color: white;
}
.searchButton {
                position:relative;
                padding:6px 15px;
                /*left:-8px;*/
                border:2px solid #207cca;
                background-color:#207cca;
                color:#fafafa;
}
.searchButton:hover  {
                background-color:#fafafa;
                color:#207cca;
}